<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>MovShare</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/www\.movshare\.net\/video\/[a-f0-9]+</string>
			</array>
		</dict>
		<key>NovaMov</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/www\.novamov\.com\/video\/[a-f0-9]+</string>
			</array>
		</dict>
		<key>Stagevu</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/stagevu\.com\/video\/.+</string>
			</array>
		</dict>
		<key>VeeHD</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/veehd\.com\/video\/\d+</string>
			</array>
		</dict>
		<key>Vidto</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/vidto\.me/.+</string>
			</array>
		</dict>
		<key>Allvid</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http:\/\/allvid\.ch.+</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://allvid.ch/embed-591s7dqpvn14-750x400.html</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
